@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start general */
a {
  color: white;
}

#loader {
  width: 80px;
}

.button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  transition: all 0.3s ease;
}

.home-container,
.about-container,
.register-container,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.gradient-text {
  color: red;
}
/* gradient text for modern browsers */
@supports (background-clip: text) {
  .gradient-text {
    background-image: linear-gradient(180deg, #ff1493, #ff8c00);
    background-clip: text;
    color: transparent;
  }
}
/* end general */

/* start navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #131313;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__container img {
  width: 40px;
  border-radius: 5px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

#signup {
  text-decoration: none;
  outline: none;
  color: white;
}
/* end navbar */

/* start login and register */
.register-container,
.login-container {
  height: calc(100vh - 50px);

  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
}

.register-container,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-content-container,
.login-content-container {
  min-height: 300px;
  padding: 2rem;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
}

.register-text,
.login-text {
  font-size: 1.5rem;
}

.register-subtext,
.login-subtext {
  font-size: 0.8rem;
}

.register-subtext a,
.login-subtext a {
  background-image: linear-gradient(90deg, #ff1493, #ff8c00);
  background-clip: text;
  color: transparent;
}

.register-input-content,
.login-input-content {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-input-username,
.register-input-password,
.register-input-confirm-password,
.login-input-username,
.login-input-password,
.login-input-confirm-password {
  font-size: 0.7rem;
  margin: 0.25rem 0rem;
}

.register-input-content input,
.login-input-content input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  outline: none;
  padding: 0.33rem;
}

.register-button,
.login-button {
  outline: none;
  border: none;
  background-image: linear-gradient(90deg, #ff1493, #ff8c00);
  color: white;
  border-radius: 3px;
  padding: 0.2rem;
  margin: 0.5rem 0rem 0.25rem 0rem;
}
/* end login and register */

/* start pills */
.dashboard-container {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dashboard-pills {
}

.dashboard-pill-item {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.11);
  max-width: 50%;
  padding: 1rem;
  margin: 2rem 0rem;
}

.dashboard-pill-item-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.dashboard-pill-item-image {
  height: 150px;
}

.dashboard-pill-item-text {
  font-size: 0.9rem;
}

.dashboard-pill-item-date {
  margin-top: -0.4rem;
  font-size: 0.6rem;
}

.dashboard-pill-item-content {
  margin-top: 1rem;
  display: flex;
}

.dashboard-pill-item-description {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.dashboard-pill-item-inner {
  flex: 0.75;
}

.dashboard-pill-item-buttons {
  display: flex;
  flex: 0.25;
}

.dashboard-pill-item-buttons button {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.dashboard-add-pill,
.webcam-prompt-dashboard,
.webcam-meeting-invite {
  padding: 1.5rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.webcam-prompt-dashboard,
.webcam-meeting-invite {
  margin-top: 2rem;
}

.dashboard-add-pill input[type='file'] {
  display: none;
}

.custom-file-upload {
  font-size: 0.7rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-image: linear-gradient(90deg, #f381da, #a5d4d1);
  color: white;
  border-radius: 3px;
  padding: 0.2rem;
  margin: 0.5rem 0rem 0.25rem 0rem;
}

.upload-name-container input[type='text'] {
  width: 80%;
  outline: none;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dashboard-add-pill button {
  margin-top: 1rem;
  height: 40px;
}

.upload-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.75rem auto 0.25rem auto;
}

.upload-name-container p {
  font-size: 0.8rem;
}

.pills-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* end pills */

/* start webcam */
.webcam-wrapper {
  width: 50%;
  margin: auto;
}

#webcam {
  margin: 2rem auto;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.055);
}
/* end webcam */

/* start modal */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.055);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* end modal */

/* start video call stuff */
.sidebar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
}

.video-streams-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 2rem auto;
}

#you-player,
#other-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#you-player video,
#other-player video {
  width: 90%;
  margin: 0rem 2rem;
}

.video-streams-container video {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.11);
}

#call-start-prompt {
  display: flex;
}

#call-start-prompt {
  font-size: 0.9rem;
  margin-top: 1rem;
}

#call-start-prompt button {
  width: 120px;
}
/* end video call stuff */
